.cc__container
{
    background-color: white;
    max-width: 150px;
    border: 1px solid lightgray;
    border-radius: 15px;
    box-shadow: 0px 1px 5px 1px lightgray;
}

.cc__image
{
    border-bottom: 0.01px solid lightgray;
} 

.cc__image > img
{
    width: 140px;
    object-fit: contain;
    border: 0.01px;
    border-radius:15px;
}

.cc__title
{
    
    padding: 2px;
    align-items: center;
}

.cc__title > h5
{
    text-align: center;
}